@charset "utf-8";
body {
    background: #f7f7f7
}

.webContainerBox {
    background: #f7f7f7;
    top: 0rem;
    overflow: hidden;
    z-index: 0
}

.webHeader {
    border-top: 6px solid #cc3031
}

.webHeaderBg {
    background: #fff;
    border-top: 6px solid #cc3031
}

.header {
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    background: #fff
}

.header .pageLogo.left {
    float: left
}

.webHeaderBg .pageTitle {
    line-height: 2.25rem;
    color: #cc3031
}

.defaultBanner {
    background-image: url(/image/banner/66.jpg?v=201412081730);
    background-position: 50% 50%
}

.navbar {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 1;
    height: auto;
    bottom: 1.25rem;
    overflow-x: hidden;
    overflow-y: auto;
    right: auto;
    left: -7rem;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #ccc;
    -webkit-transform: translate3d(0rem, 0rem, 0rem);
    -ms-transform: translate3d(0rem, 0rem, 0rem);
    -moz-transform: translate3d(0rem, 0rem, 0rem);
    -o-transform: translate3d(0rem, 0rem, 0rem);
    transform: translate3d(0rem, 0rem, 0rem);
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0rem, 0rem, 0rem);
    -ms-transform: translate3d(0rem, 0rem, 0rem);
    -moz-transform: translate3d(0rem, 0rem, 0rem);
    -o-transform: translate3d(0rem, 0rem, 0rem);
    transform: translate3d(0rem, 0rem, 0rem)
}

.navbar .navbarList {
    padding-bottom: 2.5rem;
    max-width: 14rem
}

.navbar .navItem a {
    color: #333;
    line-height: 1.75rem;
    text-align: center;
    display: block;
    border: 0;
    font-size: .7rem;
    padding: 0rem;
    margin: 0rem;
    white-space: nowrap;
    max-width: 15rem;
    color: #333;
    text-decoration: none
}

.navbar .itemSelected {
    background: #fff3f2
}

.navbar .itemSelected:before {
    content: "";
    position: absolute;
    width: .3rem;
    height: .3rem;
    top: 40%;
    left: .5rem;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background: #cc3031
}

.navBaseIcon .itemSelected:before {
    background: 0
}

.navItem .navItemName {
    margin: 0 1.25rem 0 1.25rem
}

.navBaseIcon .navItemIcon {
    color: #a6a6a6;
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: .75rem
}

.navBaseIcon .navItem .navItemName {
    margin: 0 1.25rem 0 .5rem
}

.navBaseIcon .navItem a {
    line-height: 1.75rem;
    text-align: left
}

.navButton {
    position: fixed;
    text-decoration: none;
    left: auto;
    bottom: .75rem;
    -webkit-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    border-radius: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    padding: 0;
    line-height: 2.4rem;
    text-align: center;
    z-index: 99;
    margin: 0 0 0 .75rem
}

.navButton .navButtonPanel {
    width: 5rem;
    height: 4rem;
    position: absolute;
    bottom: -0.75rem;
    left: -0.75rem;
    display: block
}

.navButton .menuNav {
    -webkit-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    border-radius: 2.5rem;
    width: 2rem;
    margin: .2rem auto;
    height: 2rem;
    border: 1px solid #cc3031;
    background: #cc3031;
    -webkit-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    border-radius: 2.5rem;
    height: 2rem;
    width: 2rem;
    background: #cc3031;
    margin: .2rem auto
}

.navButton .menuNav .menuNavTip {
    -webkit-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem
}

.navbar.open {
    left: auto;
    visibility: visible;
    opacity: 1;
    margin-left: 1rem
}

.g_panel {
    background: #f1f1f1
}

.g_replyPanel {
    background: #ebcece
}

.g_panelArrow {
    color: #ebcece
}

.g_separator {
    background: #ddd
}

.g_button {
    background: #cc3031;
    -webkit-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem
}

.form {
    padding: 0 .25rem;
    background: #f7f7f7
}

.form .titleCenter {
    height: 2.2rem;
    line-height: 2.2rem;
    -webkit-border-radius: .3rem .3rem 0 0;
    -ms-border-radius: .3rem .3rem 0 0;
    -moz-border-radius: .3rem .3rem 0 0;
    -o-border-radius: .3rem .3rem 0 0;
    border-radius: .3rem .3rem 0 0;
    background-image: gradient(linear, left bottom, left top, color-stop(1.0, #fff), color-stop(0.0, #f8f8f8))
}

.form .formBannerMore .titleMore {
    line-height: .9rem;
    margin-right: .5rem;
    padding: 0;
    width: 2.75rem;
    height: .9rem;
    margin-top: .65rem;
    background: #f68f40;
    -webkit-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border-radius: 1.5rem
}

.form .formBannerMore .titleMore:active {
    background: 0
}

.form .formBannerTitle .titleTextIcon {
    width: .5rem;
    height: 100%;
    display: inline-block;
    background: url(/image/template/308/titleicon308.png?v=201311191655) no-repeat 50% 50%
}

.form .formBannerTitle .titleText {
    width: 68.181818181%;
    position: relative;
    color: #cc3031;
    padding-left: .4rem
}

.form .formMiddle {
    background: #fff;
    padding-bottom: .1rem;
    border: 1px #ddd solid
}

.form .formBannerTitle {
    -webkit-border-radius: .3rem .3rem 0 0;
    -ms-border-radius: .3rem .3rem 0 0;
    -moz-border-radius: .3rem .3rem 0 0;
    -o-border-radius: .3rem .3rem 0 0;
    border-radius: .3rem .3rem 0 0;
    border: 1px #ddd solid;
    border-bottom: 0
}

.multilingualArea {
    background: #f7f7f7
}

.multilingualArea .multiLanguageCtrl {
    color: rgba(204, 49, 49, 0.9)
}

.multilingualArea .g_mullink {
    color: #cc3031
}

.lanSelect .lanItem:hover {
    background-color: rgba(204, 49, 49, 0.9)
}

.turnBackIcon {
    background-size: 1.25rem
}

.mbTitle {
    color: #cc3031
}

.msgBoard .msgTop {
    padding-bottom: .5rem;
    margin-left: .2rem;
    padding-top: .05rem
}

.newsList .line:before {
    content: "";
    position: absolute;
    width: .2rem;
    height: .2rem;
    top: 1rem;
    left: .5rem;
    background: #999;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.newsList .line:after {
    content: "";
    position: absolute;
    width: .75rem;
    height: .75rem;
    top: .65rem;
    right: .8rem;
    background: url(/image/template/308/newIcon.png?v=201311041750) no-repeat 50% 50%;
    background-size: 100%, 100%
}

.newsDetail .title {
    border: 0;
    border-bottom: #ddd 1px solid;
    background: 0;
    padding: 0rem
}

.newsDetail .title .titleText:before {
    background: 0
}

.form .mProductList a {
    color: #333;
    font-size: .7rem
}

.form .formMiddle .mProductTileForm {
    background: #fff
}

.form .mProductList .productParam {
    width: 100%;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none
}

.form .mProductList .paramName {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%
}

.proDetailDiv .mallOptionBox {
    border-top: 1px solid #ddd
}

.mallButton {
    color: #cc3031;
    background: #fff;
    border: .05rem solid #cc3031
}

.photoModule.styleForm1 {
    background: 0
}

.photoModule.styleForm1 .photoDiv .imgName {
    background-size: 1.1rem;
    padding-right: 10%
}

.sortPanelList .line {
    padding-left: 1rem;
    background: #fff;
    border: 0
}

.sortPanelList .line:before {
    content: "";
    position: absolute;
    width: .2rem;
    height: .2rem;
    top: 50%;
    top: -webkit-calc(50% - .1rem);
    top: -moz-calc(50% - .1rem);
    top: -o-calc(50% - .1rem);
    top: -ms-calc(50% - .1rem);
    top: calc(50% - .1rem);
    left: .5rem;
    background: #999;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.pagenation .pageSelect {
    font-size: .7rem;
    border: 0;
    background: 0
}

.pagenation .pagePrev {
    width: 3.5rem;
    border: 1px solid #cc3031;
    -webkit-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -o-border-radius: .1rem;
    border-radius: .1rem;
    overflow: visible;
    background-size: 100%
}

.pagenation .pageNext {
    width: 3.5rem;
    border: 1px solid #cc3031;
    -webkit-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -o-border-radius: .1rem;
    border-radius: .1rem;
    overflow: visible;
    background-size: 100%
}

.pagenation .pagePrev span {
    display: inline-block;
    font-size: .7rem;
    text-indent: .3rem
}

.pagenation .pageNext span {
    display: inline-block;
    font-size: .7rem;
    text-indent: -0.3rem
}

.pagenation .pagePrev:active {
    background: #cc3031
}

.pagenation .pageNext:active {
    background: #cc3031
}

.pagenation .pageDisable span {
    color: #999
}

.footer {
    background: #f7f7f7;
    background-image: gradient(linear, left bottom, left top, color-stop(0.0, #f7f7f7), color-stop(1.0, #d8d8d8));
    margin: .5rem 0;
    padding: 0rem
}

.webMapServiceBox {
    background: #cc3031
}

.webCustomerServiceBox .customerServiceDiv {
    position: fixed;
    bottom: 0rem;
    height: 2.4rem;
    z-index: 1;
    background: #cc3031
}

.mobiAdvertisement_adImg {
    background: #cc3031
}

.webFooterBox .bottomdiv .bottom {
    background: #cc3031;
    height: 1.75rem;
    background-image: gradient(linear, left bottom, left top, color-stop(0.0, #ededed), color-stop(1.0, #fefefe))
}

.technical {
    margin-bottom: 0rem;
    padding: .25rem 0rem
}

.technicalSupport {
    color: #666
}

.webFooterBox .bottomdiv .bottom .backtop {
    line-height: 1.75rem;
    color: #999
}

.webFooterBox .bottomdiv .bottom .backtop b {
    top: .65rem;
    border-bottom-color: #999
}

.richContent {
    padding: 0 0 0 .2rem;
    font-family: arial;
    font-weight: normal
}

.remarkBox {
    padding: .5rem .5rem
}

.line {
    padding-left: 1.35rem
}

.navButton .menuNav .icon-menuNavTip:before {
    margin-left: -0.35rem;
    margin-top: -0.35rem
}

.navBaseIcon .icon-navItemIcon:before {
    color: #999
}

.productCrossedSlide:nth-child(2n+1) {
    margin-left: .35rem
}

.productCrossedSlide:nth-child(2n) {
    margin-right: .35rem
}

.productWaterFall:nth-child(2n+1) {
    margin-left: .35rem
}

.productWaterFall:nth-child(2n) {
    right: .35rem
}

.icon-gClose:before {
    color: #cc3031
}

.pagenation .icon-pagePrev:before {
    color: #cc3031
}

.pagenation .icon-pageNext:before {
    color: #cc3031
}

.pagenation .icon-pagePrev.pageDisable:active:before {
    color: #cc3031
}

.pagenation .icon-pageNext.pageDisable:active:before {
    color: #cc3031
}

#g_web .g_mainColor {
    color: #cc3031
}

.productNewDetailPanel .bullets li.on {
    background-color: #cc3031
}

.productNewDetailPanel .optionSelected {
    background-color: #cc3031
}

.productNewDetailPanel .g_button {
    background-color: #cc3031
}

.productNewDetailPanel .icon-pagePrev:before {
    color: #cc3031
}

.productNewDetailPanel .icon-pagePrev {
    border-color: #cc3031
}

.productNewDetailPanel .icon-pageNext:before {
    color: #cc3031
}

.productNewDetailPanel .icon-pageNext {
    border-color: #cc3031
}

.productNewDetailPanel .userComment {
    color: #cc3031
}

.productNewDetailPanel .tabUl .tabActive {
    color: #cc3031;
    border-color: #cc3031
}

.productNewDetailPanel .productImmediatelyBug {
    background-color: #cc3031;
    border-color: #cc3031
}

.productNewDetailPanel .productAddMall {
    color: #cc3031;
    border-color: #cc3031
}

.productNewDetailPanel .mallPrice {
    color: #cc3031
}

.webPagePanel .mallPrice {
    color: #cc3031
}

.webPagePanel .tabUl .tabActive {
    color: #cc3031;
    border-color: #cc3031
}

.webPagePanel .optionSelected {
    background-color: #cc3031
}

.webPagePanel .bullets li.on {
    background-color: #cc3031
}

.msgArea .msgLevalUser {
    color: #cc3031
}

.searchType0 .icon-mSearchBtn {
    color: #cc3031
}

.searchType1 .icon-mSearchBtn {
    background-color: #cc3031
}

.searchType2 .icon-mSearchBtn {
    background-color: #cc3031;
    border-color: #cc3031
}

.searchType3 .icon-mSearchBtn {
    color: #cc3031
}

.searchType4 .icon-mSearchBtn {
    background-color: #cc3031
}

.form .formMiddle .search.searchType5 {
    background-color: #cc3031
}

#g_web .g_bgColor {
    background-color: #cc3031
}

.productNewDetailPanel .detailHeaderColor {
    background-color: #cc3031
}

.newsNewDetailPanel .detailHeaderColor {
    background-color: #cc3031
}

.g_bdColor {
    border-color: #cc3031
}

.g_color {
    color: #cc3031
}

.navItem {
    line-height: 1.75rem;
    text-decoration: none;
    font-size: .6rem;
    position: relative
}