@(title: String)

@main(title) {

    <div>
        <div>
            <div>
                <img src="@routes.Assets.at("images/djyutou.jpg")" height="400" width="600"/>
            </div>
            <div>
                剁椒鱼头
            </div>
        </div>

        <div>
            <div>
                <img src="@routes.Assets.at("images/dongbeilapi.jpg")" height="400" width="600"/>
            </div>
            <div>
                东北拉皮
            </div>
        </div>
        <div>
            <div>
                <img src="@routes.Assets.at("images/feitengyu.jpg")" height="400" width="600"/>
            </div>
            <div>
                沸腾鱼
            </div>
        </div>
    </div>
}
